@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-50 text-gray-800 scrollbar-thumb-red-700/50 scrollbar-track-gray-300 scrollbar-corner-inherit;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: Jura, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 14px;
  background-color: #e4e4e4;
}

::-webkit-scrollbar-thumb {
    background: rgba(185, 28, 28, 0.7);
    
}

::-webkit-scrollbar-corner {
    background: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer utilities {
   @variants responsive {
       .text-shadow {
         text-shadow: 2px 2px 4px black;
       }
       .text-shadow-md {
         text-shadow: 2px 1px 3px #A13131;
       }
       .text-shadow-lg {
         text-shadow: 15px 15px 30px black;
       }
       .text-shadow-none {
         text-shadow: none;
       }
   } 
}